<!DOCTYPE html>
<html lang="ru-ru" dir="ltr" class="uk-height-1-1">
  <head>
    {% block head %}
        <title>{% block title %}Таск-трекер{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" href="/static/css/uikit.css" />
        <!--<link rel="stylesheet" href="/static/css/font-awesome.min.css">-->
        <script src="/static/js/uikit.js"></script>
        <script src="/static/js/uikit-icons.js"></script>
    {% endblock %}
  </head>
    <body class="uk-height-1-1">    
        <div class="" style="background-color: #eee;">
            <div class="uk-height-viewport">
                <div class="uk-container uk-height-viewport" style="background-color: #fff;">
                    <nav class="uk-navbar-container uk-navbar">
                        <div class="uk-navbar-left">
                            <a class="uk-navbar-item" href="{{url_for('tasks.open_tasks')}}">Открытые задачи</a>
                            <a class="uk-navbar-item" href="{{url_for('tasks.my_tasks')}}">Мои задачи</a>
                            <a class="uk-navbar-item" href="{{url_for('tasks.create_task')}}">Создать задачу</a>
                            <a class="uk-navbar-item" href="{{url_for('tasks.archive')}}">Архив</a>
                            <a class="uk-navbar-item" href="{{url_for('tasks.stat')}}">Статистика</a>
                        </div>
                        <div class="uk-navbar-right">
                            {%- block user -%}
                            <a class="uk-navbar-item" href="{{'/auth/logout' if username else '/auth/login'}}">
                            {{username if username else 'Войти'}}
                            </a>
                            {%- endblock -%}
                        </div>
                    </nav>
                    <h1 class="uk-text-center">
                    {% block header %}Таск-трекер{% endblock %}
                    </h1>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
