{% extends "base.html" %}

{% block header %}
Открытые задачи
{% endblock %}

{% block content %}
    <table class="uk-table uk-table-striped uk-table-hover">
        <thead>
            <tr>
            {% for i in ['Задача', 'Исполнитель', 'Дата создания'] %}
            <th>{{i}}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in task_list %}
            <tr>
                <td>{{row.description}}</td>
                <td><a href="{{url_for('tasks.start_task', task_id=row.id)}}">{{row.username if row.username else 'не назначен, взять задачу в работу'}}</a> </td>
                <td>{{row.creation_date | local_date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
