{% extends "base.html" %}

{% block header %}
Статистика по задачам
{% endblock %}

{% block content %}
    <table class="uk-table uk-table-striped uk-table-hover">
        <thead>
            <tr>
            {% for i in ['Параметр', 'Значение'] %}
            <th>{{i}}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for k, v in parameter_list.items() %}
            <tr>
                <td>{{k}}</td>
                <td>{{v}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
